:root {
    --bg-color: #181a1b;

    --text-color: rgba(255, 255, 255, .87);
    --text-color-bolder: rgba(255, 255, 255, .95);

    --option-bg: black;

    --input-border-color: rgb(53, 57, 66);
    --input-border: 3px solid;

    --popup-bg: rgb(60, 64, 66);
    --popup-border-color: rgb(93, 93, 93);
    --popup-border: 3px solid;
}

[data-theme="light"] {
    --bg-color: #ffffff;

    --text-color: #333;
    --text-color-bolder: #111;

    --option-bg: white;

    --input-border-color: rgb(183, 187, 196);
    
    --popup-bg: rgb(220, 224, 226);
    --popup-border-color: rgb(200, 204, 206);
}

html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Roboto, sans-serif;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;

    transition: background-color .5s;
}

* {
    font-family: Roboto, sans-serif;
}

a {
    color: rgba(150, 150, 255, .87);
}

a:visited {
    color: rgba(150, 150, 255, .77);
}

select {
    color: var(--text-color-bolder);
    background-color: transparent;
    /*background-color: rgb(20, 22, 24);*/
}

option {
    background-color: var(--option-bg);
    color: var(--text-color-bolder);
}


#main-form {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90%;
    height: 95%;

    transform: translate(-50%, -50%);
}

#main-form > * {
    margin: auto;
}

#top {
    text-align: center;
    margin-bottom: 14vh;

    user-select: none;
}

#logo {
    font-size: 7vw;

    font-weight: bold;
}

#logo > img {
    width: 7.5vw;
    height: 7.5vw;

    position: relative;
    bottom: -1.5vw;
}

#motto {
    font-size: 3vw;
}

#button {
    cursor: pointer;

    user-select: none;

    display: block;

    padding: 10px;

    margin: auto;

    font-size: 4vw;

    background: none;

    color: var(--text-color-bolder);
    
    border: var(--input-border);
    border-color: var(--input-border-color);

    border-radius: 25px;
}

#text:focus, #lang:focus {
    outline: none;
}

#text {
    width: calc(100% - 30px - 6px);
    font-size: 3vw;

    margin-bottom: 10vh;

    padding: 10px;

    background: transparent;

    color: var(--text-color-bolder);

    border: var(--input-border);
    border-color: var(--input-border-color);

    border-radius: 25px;

    display: inline-block;
}

#lang {
    display: block;

    font-size: 2.8vw;

    margin-bottom: 8vh;

    padding: 10px;

    border: var(--input-border);
    border-color: var(--input-border-color);

    border-radius: 25px;

    width: 90%;
}


#snackbar-update, #snackbar-install {
    display: none;
}

#snackbar-update.show, #snackbar-install.show {
    display: inline;
}

#snackbar {
    position: absolute;
    /* display: none; */

    top: -50px;

    height: 35px;

    width: 50%;
    left: 25%;

    background-color: var(--popup-bg);

    border-radius: 2px;
    
    border: var(--popup-border);
    border-color: var(--popup-border-color);

    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);

    transition: all 1s;

    z-index: 100;
}

#snackbar *:not(div) {
    margin-top: 6px;
}

#snackbar button {
    float: right;
    margin-right: 10px;
}

#snackbar p {
    display: inline-block;
    margin-left: 10px;
}

#snackbar.show {
    top: 8px;
}

#progressContainer {
    position: absolute;

    left: 0;

    width: 100%;
    height: 100%;

    background: none;

    z-index: 10;

    top: -100%;
    opacity: 0;

    transition: opacity 1s;
}

#progressContainer.show {
    top: 0;
    opacity: 1;
}

#progressBar {
    width: 100%;
    height: 20px;
}

#progressBar[value]::-webkit-progress-value {
    background: linear-gradient(to right, #86377b 20%, #27273c 80%);
}

#progressBar[value]::-webkit-progress-bar {
    background: none;
}

#progressBar[value] {
    -webkit-appearance: none;
   appearance: none;
}

#progressText {
    font-size: 3vw;

    position: absolute;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}


#videoPopup {
    z-index: 9;

    position: absolute;

    left: 50%;
    top: -100%;

    width: 90%;
    max-height: 95%;

    max-width: 1000px;

    transform: translate(-50%, -50%);

    background-color: var(--popup-bg);

    border-radius: 5px;

    border: var(--popup-border);
    border-color: var(--popup-border-color);

    padding: 10px;

    transition: top 1s;
}

#videoPopup.show {
    top: 50%;
}

#theme-switcher {
    position: absolute;

    top: 10px;
    right: 10px;
}

#theme-switcher > img {
    width: 5vw;
    height: 5vw;

    cursor: pointer;
}

@media (max-width: 900px) {
    #snackbar {
        width: 75%;
        left: 12.5%;
    }

    #theme-switcher > img {
        width: 5vh;
        height: 5vh;
    }
}

@media (max-width: 600px) {
    #snackbar {
        width: 95%;
        left: 2.5%;
    }

    #top {
        margin-bottom: 30%;
    }

    #main-form {
        height: 90%;
        width: 95%;
    }

    #lang {
        font-size: 2.8vh;
    }

    #text {
        font-size: 3vh;
    }

    #button {
        font-size: 4vh;
    }

    #logo {
        font-size: 7vh;
    }
    
    #logo > img {
        width: 7.5vh;
        height: 7.5vh;

        bottom: -1.5vh;
    }
    
    #motto {
        font-size: 3vh;
    }
}