html, body {
    background-color: #181a1b;
    color: rgba(255, 255, 255, .87);
    font-family: Roboto, sans-serif;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;

    transition: background-color .5s;
}

* {
    font-family: Roboto, sans-serif;
}

a {
    color: rgba(150, 150, 255, .87);
}

a:visited {
    color: rgba(150, 150, 255, .77);
}

select {
    color: rgba(255, 255, 255, .95);
    background-color: rgb(20, 22, 24);
}

option {
    background-color: black;
    color: rgba(255, 255, 255, .95);
}


#main-form {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 90%;
    height: 95%;

    transform: translate(-50%, -50%);
}

#main-form > * {
    margin: auto;
}

#top {
    text-align: center;
    margin-bottom: 10%;

    user-select: none;
}

#logo {
    font-size: 8vw;

    font-weight: bold;
}

#motto {
    font-size: 4vw;
}

#button {
    cursor: pointer;

    user-select: none;

    display: block;

    padding: 10px;

    margin: auto;

    font-size: 4vw;

    background: none;

    color: rgba(255, 255, 255, .95);
    
    border: rgb(53, 57, 66) 3px solid;
    border-radius: 25px;
}

#text:focus, #lang:focus {
    outline: none;
}

#text {
    width: calc(100% - 30px - 6px);
    font-size: 3vw;

    margin-bottom: 8%;

    padding: 10px;

    background: rgb(24, 26, 27);

    color: rgba(255, 255, 255, .95);

    border: rgb(53, 57, 66) 3px solid;
    border-radius: 25px;

    display: inline-block;
}

#lang {
    display: block;

    font-size: 2.8vw;

    margin-bottom: 5%;

    padding: 10px;

    border: rgb(53, 57, 66) 3px solid;
    border-radius: 25px;
}


#snackbar-update, #snackbar-install {
    display: none;
}

#snackbar-update.show, #snackbar-install.show {
    display: inline;
}

#snackbar {
    position: absolute;
    /* display: none; */

    top: -50px;

    height: 35px;

    width: 50%;
    left: 25%;

    background-color: rgb(60, 64, 66);

    border-radius: 2px;
    border: 3px solid rgb(93, 93, 93);

    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);

    transition: all 1s;

    z-index: 100;
}

#snackbar *:not(div) {
    margin-top: 6px;
}

#snackbar button {
    float: right;
    margin-right: 10px;
}

#snackbar p {
    display: inline-block;
    margin-left: 10px;
}

#snackbar.show {
    top: 8px;
}

#progressContainer {
    position: absolute;

    left: 0;

    width: 100%;
    height: 100%;

    background: none;

    z-index: 10;

    top: -100%;
    opacity: 0;

    transition: opacity 1s;
}

#progressContainer.show {
    top: 0;
    opacity: 1;
}

#progressBar {
    width: 100%;
    height: 20px;
}

#progressBar[value]::-webkit-progress-value {
    background: linear-gradient(to right, #86377b 20%, #27273c 80%);
}

#progressBar[value]::-webkit-progress-bar {
    background: none;
}

#progressBar[value] {
    -webkit-appearance: none;
   appearance: none;
}

#progressText {
    font-size: 3vw;

    position: absolute;
    
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}


#videoPopup {
    z-index: 9;

    position: absolute;

    left: 50%;
    top: -100%;

    width: 90%;
    max-height: 95%;

    max-width: 1000px;

    transform: translate(-50%, -50%);

    background-color: rgb(60, 62, 64);

    border-radius: 5px;
    border: 3px solid rgb(93, 93, 93);

    padding: 10px;

    transition: top 1s;
}

#videoPopup.show {
    top: 50%;
}

@media (max-width: 900px) {
    #snackbar {
        width: 75%;
        left: 12.5%;
    }
}

@media (max-width: 600px) {
    #snackbar {
        width: 95%;
        left: 2.5%;
    }

    #top {
        margin-bottom: 30%;
    }

    #main-form {
        height: 90%;
        width: 95%;
    }
}